# Node.js (React)
node_modules/
dist/
.env

# .NET Core
bin/
obj/
*.user
*.suo

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
# Visual Studio
.vs/
# ASP.NET Core
.appsettings.Development.json
.appsettings.json/

# Docker
.Dockerfile
.docker-compose.yml
*.publish/